// ICON HELPERS
// -------------------------------------------------------------------------

$accordion-icon-image-path: "#{$component-path}/iman-styles-accordion/assets" !default;

@function accordion-icon-path($path) {
  @return "#{$accordion-icon-image-path}/#{$path}";
}

@function accordion-icon-url($path) {
  @return url(accordion-icon-path($path));
}

.accordion {
  border-bottom: 1px solid #d6d6d6;
  margin-top: 2px;
  overflow: hidden;

  .accordion__trigger {
    @include linear-gradient(#fafafa, #ddd, top);
    border-radius: 0;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    box-shadow: 0 2px 3px rgba(#ccc, 0.4);
    color: #777;
    display: block;
    line-height: 36px;
    margin-bottom: -1px;
    padding: 0 $spacing-normal;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:after,
    &.is-open:after {
      @include show-pseudo-element;
      @include top-right(20px, 10px);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 16px;
      width: 16px;
    }

    &:after {
      background-image: accordion-icon-url('down.png');
      background-image: accordion-icon-url('down.svg'), none;
    }
    &.is-open:after {
      background-image: accordion-icon-url('up.png');
      background-image: accordion-icon-url('up.svg'), none;
    }
    &:hover {
      @include linear-gradient(#fff, #e6e6e6, top);

      &::after {
        opacity: 1;
      }
    }
  }
}

.csstransitions .accordion {
  .accordion__body {
    @include transition(height 0.7s ease-in-out());
    height: 0;
    overflow: hidden;
    &.no-transitions {
      @include transition(none);
    }
  }
}

.no-csstransitions .accordion {
  & > .accordion__body {
    display: none;
  }
  &.is-open > .accordion__body {
    display: block;
  }
}